.field-constructor-card {
  border: 0;
  padding: 0;
  margin: 0;
  border: solid 2px #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 40px;
  padding-right: 10px;
  padding-top: 10px;
  max-width: 550px;
  margin-left: 5px;
}

.field-constructor-card .item {
  color: #000;
}

.field-constructor-card .item .standing {
  margin: 0.5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #949498;
  margin-bottom: 5px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
}

.field-constructor-card .item .standing .rank,
.field-constructor-card .item .standing .points {
  font-weight: bold;
  font-size: 1.6rem;
}

.field-constructor-card .item .info {
  margin: 0.5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #949498;
  margin-bottom: 5px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.field-constructor-card .item .info .name {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.field-constructor-card .item .info .name .team {
  font-size: 25px;
  font-weight: bold;
}
.field-constructor-card .item .info .name .flag {
  max-width: 50px;
}

.field-constructor-card .item .info .logo img {
  max-width: 50px;
}

.field-constructor-card .item .drivers {
  margin: 0.5rem;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #949498;
}

.field-constructor-card .item .drivers .driver {
  margin-left: 5px;

  padding: 0;
  width: 100%;
  max-width: 48%;
  overflow: hidden;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.field-constructor-card .item .drivers .driver .name {
  font-size: 1.1rem;
  font-weight: bold;
}
.field-constructor-card .item .drivers .driver .name::after {
  content: '';
  display: block;
  width: 130px;
  height: 2px;
  background: #dc0000;
  position: absolute;
}

.field-constructor-card .item .drivers .driver .name.mercedes::after {
  background: #54f745;
}
.field-constructor-card .item .drivers .driver .name.ferrari::after {
  background: #dc0000;
}
.field-constructor-card .item .drivers .driver .name.red_bull::after {
  background: #0600ef;
}
.field-constructor-card .item .drivers .driver .name.mclaren::after {
  background: #ff9800;
}
.field-constructor-card .item .drivers .driver .name.alphatauri::after {
  background: #2b4562;
}
.field-constructor-card .item .drivers .driver .image img {
  max-width: 48px;
}
.field-constructor-card .item .car-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-constructor-card .item .car-image img {
  max-width: 400px;
}
